mixin opportunities-crm(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  // ========[description-CONTENT BEGIN]========
  .content.description-article
    //-PAGE TITLE
    section.description__page-title
      .container
        .row
          .col-md-3.hidden-xs.hidden-sm
            .description__circle
          .col-md-16
            h1.description__page-title-text Вбудована CRM
    section.description-article__main
      .container
        //path
        .row
          .col-md-24
            img.description-article__image.img-responsive(src="/images/description/description.jpg")
        .row
          .col-md-24
            h2.description-article__desc Опис
        .row
          .col-md-18
            p.description-article__paragraph Вбудована CRM-система рішення VoIPTime Сontact Center v.2 надає можливість:
            ol.description-article__paragraph
              li Зберігати базу клієнтів та відображати картку клієнта під час звернення.
                | Оператор під час будь-якого звернення має можливість переглядати картку клієнта.
              li Гнучко налаштовувати картку клієнта та додавати будь-яку кількість полів потрібного типу. (скріншот). Якщо проведена інтеграція із Вашою CRM-системою, тоді у динамічних полях картки клієнта можна відображати потрібну інформацію  безпосередньо із Вашої системи.
                img.description-article__paragraph-image(src="images/opportunities-crm/image1.png")
                | Система дозволяє відображати поля картки клієнта тільки користувачам з певним рівнем доступу або приховувати частину контактів. Наприклад, оператор бачить тільки першу або другу частину номеру телефону, електронної чи фізичної адреси абонента, або деякі контактні дані взагалі приховані від нього.
                | Під час кожного звернення Вашим операторам відкривається картка клієнта з усією доступною інформацією щодо нього, а також історія звернень. Якщо йому дозволено вносити зміни у поля, оператор може додати чи змінити якусь інформацію у картці.
                img.description-article__paragraph-image(src="images/opportunities-crm/image2.png")
                img.description-article__paragraph-image(src="images/opportunities-crm/image3.png")

              li Створювати ролі, які присвоюються клієнтам в залежності від їх прив'язки до продуктів (звичайний або VIP, та віндикаційні ролі (основна - для клієнта, другорядна - для поручителів та чоловіка/дружини, віндикаційна мульти).

          .col-md-6
            ul.details
              li.details__detail.details__detail-header
                p.details__detail-header-text Деталі
              li.details__detail
                p.details__label Опублікована:
                p.details__value.details__value_italic ООО.Voiptime
              li.details__detail
                p.details__label Версія:
                p.details__value 1.2.1
              li.details__detail
                p.details__label Оновлена:
                p.details__value 12.12.2015
              li.details__detail
                p.details__label Доступна в API:
                p.details__value Так.
                  a.details__value-link(href="#") Дивитись документацію

