mixin about-us(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  // ========[SUPPORT BEGIN]========
  .content.blog-article
    //-PAGE TITLE
    section.blog__page-title.blog__page-title_about-us
    section.blog-article__main
      .container
        //path
        .row
          .col-md-12
            .path.path_blog-article
              a.path__element.path__link(href="/") Головна
              p.path__element.path__separator >
              p.path__element.path__curent Історія та досягнення
        .row
          .col-md-24
            h1.blog-article__title Історія та досягнення
        .row
          .col-md-24
            p.blog-article__text Компанія VoIPTime заснована у Львові, Україна 2009 року командою однодумців-розробників з метою створення найкращого на ринку рішення для IP-телефонії та контакт-центрів. На сьогодні VoIPTime — це професійний колектив програмістів, системних адміністраторів, аналітиків, спеціалістів служби підтримки та менеджерів.


            p.blog-article__text За час існування компанії програмне рішення VoIPTime Contact Center безперервно вдосконалювалось - в ногу із новими запитами ринку програмного забезпечення для контакт-центрів та клієнтів.


            p.blog-article__text На базі існуючих тенденцій у кінці 2009 року була розроблена та випущена перша версія програмного рішення VoIPTime Contact Center Basic.
            p.blog-article__text Враховуючи розвиток ринку та накопичений пул запитів клієнтів, у 2011 році ми суттєво доробили функціонал та випустили версію VoIPTime Contact Center Blending. Це дозволило задовольнити потреби клієнтів у багатофункціональному продукті. В цій версії вже була введена єдина черга для мульканальних звернень.
            p.blog-article__text Також, наприклад у вересні 2014 року у VoIPTime Contact Center впроваджена система планування робочого часу WorkForce, яка спрощує роботу супервізорів для уникнення помилок у плануванні робочих процесів.


            p.blog-article__text У 2015 році випущена нова версія VoIPTime Contact Center v.2 із трьома релізами, в якій:
              ul
                li значно розширений функціонал веб-чатів;
                li запроваджене гнучке налаштування ролей користувачів;
                li запроваджене налаштування видимості полів картки клієнта;
                li додані коментарі у картці клієнта;
                li підтримуються динамічні поля картки клієнта;
                li оптимізовано інтерфейс.

            p.blog-article__text Для актуальної версії суттєво перероблено відкритий API-інтерфейс, завдяки якому можлива інтеграція з будь-якою віддаленою базою або CRM-системою.
            p.blog-article__text Серед наших планів на найближчі 3 місяці:
              ul
                li інтеграція з Viber;
                li інтеграція з різноманітними CRM-системами, в першу чергу AmoCRM;
                li розширення функціоналу Work Flow;

            p.blog-article__text Для того, щоб перебувати у авангарді індустрії IP-телефонії, ми безперервно розвиваємось, навчаємось, приймаємо участь у галузевих виставках, конференціях та інших подіях. Наприклад, на форумі «Бизнес и ИТ. Вокруг ЦОД. Вокруг Данных. Вокруг IP», який відбувся у вересні 2015 року у Мінську, Білорусь. Наша мета - бути завжди попереду, в курсі всіх подій, щоб надавати нашим клієнтам найбільш актуальні рішення для IP-телефонії та контакт-центрів.
            p.blog-article__text Хочете знати більше? Дзвоніть, пишіть. Мі завжди раді відповісти на ваші питання та розказати вам детальніше про VoIPTime Contact Center та наш досвід!


        .row
          .col-md-24
            .back-button
              a.back-button__link(href="/") Назад
