mixin blog-article(config)
  - var _config = config || {}

  // ========[BLOG-article-CONTENT BEGIN]========
  .content.blog-article
    //-PAGE TITLE
    section.blog__page-title
    section.blog-article__main
      .container
        //path
        .row
          .col-md-12
            .path.path_blog-article
              a.path__element.path__link(href="/") Головна
              p.path__element.path__separator >
              p.path__element.path__curent Запитання відповідь
        .row
          .col-md-24
            h1.blog-article__title Lorem ipsum dolor sit amet.
        .row
          .col-md-24
            img.blog-article__image.img-responsive(src="/images/blog-article.jpg")
        .row
          .col-md-24
            p.blog-article__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру
              | сгенерировать несколько абзацев более менее осмысленного
              | текста рыбы на русском языке, а начинающему оратору
              | отточить навык публичных выступлений в домашних условиях.
              | При создании генератора мы использовали небезызвестный
              | универсальный код речей. Текст генерируется абзацами
              | случайным образом от двух до десяти предложений в абзаце,
              | что позволяет сделать текст более привлекательным и живым
              | для визуально-слухового восприятия.
              | По своей сути рыбатекст является альтернативой
              | традиционному lorem ipsum, который вызывает у некторых
              | клиентов недоумение при попытках прочитать рыбу текст. В
              | отличии от lorem ipsum, текст рыба на русском языке
              | наполнит любой макет непонятным смыслом и придаст
              | неповторимый колорит советских времен.
            p.blog-article__text Рыбатекст поможет дизайнеру,
              | верстальщику, вебмастеру
              | сгенерировать несколько абзацев более менее осмысленного
              | текста рыбы на русском языке, а начинающему оратору
              | отточить навык публичных выступлений в домашних условиях.
              | При создании генератора мы использовали небезызвестный
              | универсальный код речей. Текст генерируется абзацами
              | случайным образом от двух до десяти предложений в абзаце,
              | что позволяет сделать текст более привлекательным и живым
              | для визуально-слухового восприятия.

        .row
          .col-md-24
            .back-button
              a.back-button__link(href="#") Назад