mixin index(config)
  - var _config = config || {}

  .content.index
    //-PAGE TITLE
    section.page-title
      .container
        h1 Сучастне програмне забеспечення
        h2 Для створення професiйних контакт центрiв
        .row
          .col-md-12
            p.cup <span>6</span> років на ринку
            p.service Обслуговують понад  <span>1 000 000</span> задоволених клієнтів по всьому світу
            a.big-button Спробувати безкоштовно
          .col-md-12.ten-block
            .ten
            p.reasons Причин створити <br> контакт-центр на Voiptime
    //-OPPORTUNITIES
    section.opportunities
      a(href="#").arrow-button
      .container
        h2 Можливостi Voiptime
        //-row 3
        .row.circles
          .col-md-8
            .circle.circle-one
              .circle-background
              .circle-img
            p
              a(href="#") Створення контакт<br> центрiв <span>будь якого розмиру</span>
          .col-md-8
            .circle.circle-two
              .circle-background
              .circle-img
            p
              a(href="#") Спiлкування с клиэнтами за<br> домогоую <span>дзвiнкiв email, sms, web-chat</span>
          .col-md-8
            .circle.circle-three
              .circle-background
              .circle-img
            p
              a(href="#") Зменшення часу на<br> обдзвiн до <span>5 - 10<br></span> разiв
        //-row 2
        .row.circles
          .col-md-8.col-md-offset-4
            .circle.circle-four
              .circle-background
              .circle-img
            p
              a(href="#") Збiльшення навантаження на оператора до <span>80 -90%</span>
          .col-md-8
            .circle.circle-five
              .circle-background
              .circle-img
            p
              a(href="#") Iнтеграцiя з будьякою вашою CRM: <span>1C: Billing</span>

        a(href="#").plus-button
        p.etc I ще
          a(href="#") понад 100 iнших можливостей
        a.big-button Спробувати безкоштовно

    //-SERVICES
    section.services
      .container
        h2 Наші послуги
        h3 Роскажить про подреби вашого бiзнесу, а ми допоможемо вам <br>з вибором рiшеня:
        .line
        .line.second-line
        .row.z-index-10
          .col-md-8
            .circle
              .circle-img.img-1
            p.circle-text Контакт-центр на<br> Вашому обладнанні

          .col-md-8
            .circle
              .circle-img.img-2
            p.circle-text Хмарний<br> контакт-центр
          .col-md-8
            .circle
              .circle-img.img-3
            p.circle-text Послуги аутсорсингового<br> контакт-центру

        a(href="#").big-button-tell Росказати
        a(href="#").arrow-button-dark

    //- COMPARE
    section.compare
      .container
        h2 Порівняння послуг
        .row
          .col-md-8
            table
              thead
                tr
                  th
                    p Притбання Voiptime
                    a.consultation Безкоштовна консультація
              tbody
                tr
                  td
                    p Розгортаємо контакт центр на Вашому устаткуванні
                tr
                  td
                    p Запуск за 2 дні (стандартної версії)
                tr
                  td
                    p Понад 35 операторів
                tr
                  td.background
                tr
                  td
                    p Одноразова
                tr
                  td
                    p Понад 35 операторів
                tr
                  td
                    p Всі консультації для запуску КЦ
                tr
                  td
                    p Консультації з вибору обладнання
                tr
                  td.background
                tr
                  td
                    p Стартове встановлення та налаштування Voiptime  під потреби Замовника
                tr
                  td
                    p Стартове навчання персоналу
                tr
                  td
                    p Технічна підтримка (30 год./міс.)
                tr
                  td
                    p Адаптація рішення під вимоги Замовника (розробка)
                tr
                  td
                    p Інтеграція з будь-якими бізнес-системами Замовника
                tr
                  td
                    p Відкриття КЦ під ключ (посилання)
                tr
                  td
                    p Поставка та налаштування необхідного устаткування
                tr
                  td
                    p Інтеграція з будь-якими бізнес-системами Замовника
                tr
                  td
                    p Навчання супервізорів Замовника підвищенню ефективності роботи у КЦ
            p.datail
              a(href="#") Читати детальніше
            a.consultation.cons-bottom Безкоштовна консультація

          .col-md-8
            table
              thead
                tr
                  th
                    p Хмарний КЦ Voiptime
                    a.consultation Безкоштовна консультація
              tbody
                tr
                  td
                    p Надаємо доступ до усіх можливостей КЦ через сайт
                tr
                  td
                    p Запуск за 2 дні
                tr
                  td
                    p Розраховано на 5-35 операторів
                tr
                  td.background
                    p Оплата
                tr
                  td
                    p Щомісячна+ невеликий стартовий платіж
                tr
                  td.background
                    p Що входить у послугу
                tr
                  td
                    p Всі консультації для запуску КЦ
                tr
                  td
                    p Технічна підтримка (5 год./міс.)
                tr
                  td.background
                    p Послуги за бажанням клієнта
                tr
                  td
                    p Додаткова технічна підтримка понад місячний ліміт
                tr
                  td
                    p Інтеграція з будь-якими бізнес-системами Замовника
                tr
                  td
                    p Адаптація рішення під вимоги Замовника
                tr
                  td
                    p Адаптація рішення під вимоги Замовника (розробка)
                tr
                  td
                    p Інтеграція з будь-якими бізнес-системами Замовника
                tr
                  td
                    p Інтеграція з будь-якими бізнес-системами Замовника
                tr
                  td
                tr
                  td
                tr
                  td
            p.datail
              a(href="#") Читати детальніше
            a.consultation.cons-bottom Безкоштовна консультація

          .col-md-8
            table
              thead
                tr
                  th
                    p Аутсорсинговий КЦ
                    a.consultation Безкоштовна консультація
              tbody
                tr
                  td
                    p Беремо всі обов'язки щодо обслуговування ваших клієнтів на себе
                tr
                  td
                    p Запуск за 2-5 днів
                tr
                  td
                    p Довільна кількість операторів
                tr
                  td.background
                tr
                  td
                    p За проект або за досягнутий результат
                tr
                  td.background
                tr
                  td
                    p Комплексні послуги (детальніше - посилання на сторінку щодо Телевойсу вбо сайт
                tr
                  td
                    p Налаштування Voiptime під потреби Замовника
                tr
                  td.background
                tr
                  td
                    p Створення скрипта (сценарію розмови)
                tr
                  td
                    p Тренінг операторів
                tr
                  td
                    p Надання 100% записів розмов
                tr
                  td
                    p Надання звітності щотижнево/в кінці проекту
                tr
                  td
                    p Інтеграція з будь-якими бізнес-системами Замовника
                tr
                  td
                tr
                  td
                tr
                  td
                tr
                  td
            p.datail
              a(href="#") Читати детальніше
            a.consultation.cons-bottom Безкоштовна консультація


    //- CASES
    section.cases
      .container
        h2 Кейси
        .row
          .col-md-8
            .block
              div.cf
                .icon.icon-1
                .label.label-1
                  p Банк
              .item.u-cf
                .img.img-people
                .text Автоматизовано <span>80</span> робочих місць
              .item
                .img.img-people
                .text Навантаження операторів зросло до <span>80-90%</span>
              .item
                .img.img-people
                .text Ефективність вихідного обдзвону збільшилась на<br> <span>20%</span>

          .col-md-8
            .block
              div.cf
                .icon.icon-2
                .label.label-2
                  p Провайдер цифрового<br> телебачення
              .item.u-cf
                .img.img-24
                .text Відкрито <span>3</span> площадки колл-центру
              .item
                .img.img-people
                .text Автоматизовано <span>120</span> <br>робочих місць
              .item
                .img.img-women
                .text Зменшено простої операторів <span>вдвічі</span>

          .col-md-8
            .block
              div.cf
                .icon.icon-3
                .label.label-3
                  p Аутсорсинговий<br> контакт-центр
              .item.u-cf
                .img.img-people
                .text Автоматизовано <span>100</span> <br>робочих місць
              .item
                .img.img-80
                .text Навантаження операторів зросло до <span>80%</span>
              .item
                .img.img-speed
                .text Швидкість обдзвону зросла <span>втричі</span>
        .row
          p.bottom-text Ми створюємо контакт-центри для найрізноманітніших сфер бізнесу. Легка адаптація саме під<br> Ваші потреби
          p.all
            a(href="#") Всі кейси


    //- REVIEWS
    section.reviews
      .container
        h2 Відгуки
        .row
          .col-md-24.block
            .background
              .big
                .small
            .photo
            .text
              p.author Тамара Андріївна
              p Аляквюид прёнкипыз ан кюм, ат доминг факильизиж дигнижжим дуо. Ут адхюк аккюжамюз шэа, ед шэа харюм констятюам. Аляквюид прёнкипыз ан кюм, ат доминг факильизиж дигнижжим дуо. Ут адхюк аккюжамюз шэа, ед шэа харюм констятюам.
            .thumbnails
              .arrows
                .top
                .bottom
              .thumbnail
              .thumbnail
              .thumbnail
              .thumbnail.active
              .thumbnail
            .dotted-block



    //- CLIENTS
    section.clients
      .container
        h2 Наші клієнти
        .row
          .col-md-4
            .block
            .block
            .block
            .block
            .block
          .col-md-4
            .block
            .block
            .block
            .block
            .block
          .col-md-4
            .block
            .block
            .block
            .block
            .block
          .col-md-4
            .block
            .block
            .block
            .block
            .block
          .col-md-4
            .block
            .block
            .block
            .block
            .block
          .col-md-4
            .block
            .block
            .block
            .block
            .block



    //-ABOUT US
    section.about-us.hidden-overflow
      .container
        .row
          .col-md-10.img
            .women
          .col-md-14.columns.text
            h2 Про нас
            p VoIPTime вышла на рынок решений для Контакт Центров в 2009 году, исходя из потребностей быстро растущего рынка услуг телемаркетинга в качественных, простых, надежных и производительных, программных решениях для создания высокоэффективных контакт или call центров.
            p VoIPTime - это инновационное, построенное с нуля, комплексное решение, разработанное с помощью современных технологий, предназначенное для централизованного обслуживания обращений клиентов всеми возможными путями коммуникаций.
            p Колл центр VoIPTime - полностью веб ориентированное программное решение, позволяющее интегрироваться с любой системой пользовательских бизнес приложений на большинстве распространенных платформ.




    //- REVIEWS
    section.contacts
      .container
        h2 Контакти
        h3 Ми готові відповісти на будь-які ваші питання
        .row
          .col-md-8
            .block
              .img.img-1
              .icon.icon-1
            .text Звоните <br>Украина: +38 (044) 490-77-70 <br>Польша: +48 (12) 376-65-48
          .col-md-8
            .block
              .img.img-2
              .icon.icon-2
            .text Пишите<br> info@voiptime.net
          .col-md-8
            .block
              .img.img-3
              .icon.icon-3
            .text Заходите<br> Украина, Львов, 79015 <br>ул. Смаль-Стоцкого, 1