mixin telemarketing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  // ========[description-CONTENT BEGIN]========
  .content.description-article
    //-PAGE TITLE
    section.description__page-title
      .container
        .row
          .col-md-3.hidden-xs.hidden-sm
            .description__circle.function-square__circle_4
          .col-md-16
            h1.description__page-title-text Телемаркетинги

    section.description-article__main
      .container
        //path
        .row
          .col-md-24
            h2.description-article__desc
              span.description-article__desc_bold Телемаркетинги
              | (кампанії вихідного обдзвону) - здійснення масових вихідних обдзвонів по базі клієнтів
        .row
          .col-md-18
            p.description-article__paragraph Використання телемаркетингів у рішенні VoIPTime CC v.2 дозволяє максимально якісно обдзвонити базу клієнтів з найменшими простоями операторів, оскільки набір здійснюється системою, а з операторами з’єднуються лише “живі” абоненти.

            p.description-article__paragraph Налаштування та запуск кампанії телемаркетингу здійснюється одним співробітником лише за 15 хвилин, адже потребує внесення тільки найнеобхідніших параметрів.



            img.description-article__paragraph-image(src="images/telemarketing/image1.png")
            p.description-article__paragraph Ви можете налаштувати автоматичний запуск телемаркетингу у певні дні та години, що дозволить проводити обдзвін клієнтів за певним графіком та зменшити втручання людини у цей процес.

            p.description-article__paragraph Виберіть, чи обдзвін буде здійснюватись операторами, чи за допомогою IVR або SMS:
            p.description-article__paragraph <i>Оператор</i> – заявки кампанії будуть оброблятися за допомогою операторів.
            p.description-article__paragraph <i>IVR</i> – заявки кампанії будуть автоматично оброблятися системою за допомогою IVR сценарію.
            p.description-article__paragraph <i>SMS</i> – заявки кампанії будуть оброблятися за допомогою СМС повідомлень.

            p.description-article__paragraph Якщо обраний тип обробки Оператор - вкажіть також потрібний режим обдзвону:

            p.description-article__paragraph Прогресивний – тип телемаркетингу, який обробляє заявку тоді, коли є доступний оператор для її обробки. Такий тип обдзвону підходить у випадку, коли база номерів для продзвону є актуальною.

            p.description-article__paragraph Попередній перегляд – тип обдзвону, коли система перед тим, як набрати дзвінок до абонента, дозволить оператору переглянути інформацію щодо тематики дзвінка.

            p.description-article__paragraph Предіктів – тип обзвону, який обробляє заявки, базуючись на середніх тривалостях розмови та коефіцієнтів швидкості набору. Система автоматично прогнозує часові проміжки, коли оператор може звільнитися і набирає заявку навіть тоді, коли немає доступних операторів у відповідних статусах. Такий режим обробки дзвінків підходить до баз продзвонів, коли немає впевненості в тому, що вони є актуальними.

            p.description-article__paragraph Завдяки тому, що всі оператори з’єднуються лише із “живими” абонентами, їм не доводиться довго чекати з’єднання. Всі спроби додзвону пишуться у статистику та доступні для подальшого аналізу.



            p.description-article__paragraph <i style="font-size: 18px"><u>Агрессивный обзвон (Предиктив):</u></i>

            p.description-article__paragraph Вашим операторам набридло слухати гудки та по півгодини чекати успішного з’єднання хоча б із кимось з абонентів?
              |<br> Рішення VoIPTime CC v.2 самостійно адаптує швидкість набору та дозволяє максимально завантажити операторів навіть під час обдзвону “холодної” непервіреної бази. Ви виключите ситуації неравномірного завантаження контакт-центру, коли раніше прискорення набору викликало величезні черги з абонентів на лінії. Формула режиму предіктів, розроблена Voiptime, дозволяє у кожний момент часу набирати оптимальну кількість заявок на базі аналізу множини факторів.
              |<br> Використання режиму Предіктів (агресивний режим додзвону) скорочує простої при роботі з “холодною” базою навіть 6 операторів, за рахунок того, що система відслідковує часові параметри розмови та постобробки, кількість вільних операторів, відсоток втрачених дзвінків, наявність черг  та ін., і постійно адаптує швидкість набору.

            p.description-article__paragraph
              u Потужна аналітика для вибірки бази обдзвону.
            p.description-article__paragraph За допомогою системи фільтрів Voiptime CC гнучко формуйте базу для обдзвону та підтягуйте потрібні контакти безпосередньо із Вашої CRM-системи.

            p.description-article__paragraph
              u Процесор (налаштування правил додзвону при неуспішних спробах)
            p.description-article__paragraph Даний функціонал дозволяє налаштувати продзвін до клієнтів залежно від статусу попередньої спроби. Це дозволяє вам не втратити жодного контакту, оскільки система автоматично буде набирати номер клієнта через задані вами часові проміжки. Коли спроба буде успішною, клієнт буде з’єднаний із вільним оператором.

          .col-md-6
            ul.details
              li.details__detail.details__detail-header
                p.details__detail-header-text Деталі
              li.details__detail
                p.details__label Опублікована:
                p.details__value.details__value_italic ООО.Voiptime
              li.details__detail
                p.details__label Версія:
                p.details__value 1.2.1
              li.details__detail
                p.details__label Оновлена:
                p.details__value 12.12.2015
              li.details__detail
                p.details__label Доступна в API:
                p.details__value Так.
                  a.details__value-link(href="#") Дивитись документацію

