mixin key(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  // ========[KEY BEGIN]========
  .content.features
    //-PAGE TITLE
    section.features-page-title.features-page-title_key
      .container
        .row
          .col-md-24
            h1.features-page-title__text.features-page-title__text_padding-bottom.features-page-title__text_middle Запустіть контакт-центр без жодних тривог!


    section.feature-block.feature-block_gray
      .container
        .row
          .col-md-13
            h2.feature-block__title Персональний менеджер
            p.feature-block__description Якщо Ви обираєте послугу Контакт-центр під ключ, то отримуєте персонального менеджера, який консультуватиме Вас з вибору серверного та телекомунікаційного обладнання, планування серверної і залів контакт-центру та всіх інших питань як на етапі обговорення проекту, так і його втілення в життя і подальшого функціонування. Ви не залишитеся сам-на-сам з вашим проектом — супроводження і підтримка гарантовані Вам на всіх його етапах.

          .col-md-11
            img.feature-block__image.feature-block__image_float-right(src="images/key/1.jpg")


    section.feature-block.feature-block_white.feature-block_border-bottom
      .container
        .row
          .col-md-11
            img.feature-block__image(src="images/key/2.jpg")
          .col-md-13
            h2.feature-block__title Економія часу, ресурсів і коштів
            p.feature-block__description.feature-block__description_justify Вам не потрібно самим поринати у вивчення і порівняння технічних характеристик обладнання для створення контакт-центру чи наймати власних спеціалістів в цій галузі. Ми знаємо про роботу контакт-центрів все, і готові підібрати для Вас оптимальне рішення згідно поставленого Вами завдання, починаючи від електрики і до вибору столів. Ми представимо Вам всі можливі варіанти і пояснимо, чим один відрізняється від іншого — Вам залишиться лише зробити вибір. За його наявності Вам не потрібно самим шукати, де придбати обладнання – завдяки нашим партнерам ми також можемо організувати вам його доставку.


    section.feature-block.feature-block_blue
      .container
        .row
          .col-md-13
            h2.feature-block__title.feature-block__title_smaller.feature-block__title_white-text Повна оптимізація під Ваші задачі
            p.feature-block__description.feature-block__description_justify.feature-block__description_white-text Ви формулюєте потреби — ми робимо все необхідне для того, аби їх задовільнити. Просто сформулюйте, які функції має виконувати контакт-центр, якого він має бути розміру, яку мати конфігурацію — і ми запропонуємо Вам готовий працездатне рішення, яке буде приносити Вам результати, не змушуючи Вас думати про те, як саме все це працює.

          .col-md-11
            img.feature-block__image.feature-block__image_float-right(src="images/key/3.jpg")


    section.feature-block.feature-block_white.feature-block_border-bottom
      .container
        .row
          .col-md-11
            img.feature-block__image(src="images/key/4.jpg")
          .col-md-13
            h2.feature-block__title Швидке впровадження
            p.feature-block__description.feature-block__description_justify Наші досвідчені технічні спеціалісти проведуть для Вас виїзне або віддалене налаштування обладнання та телефонії, встановлять та налаштують VoIPTime Contact Center і здійснять всі необхідні тестування. Вам не потрібно буде самостійно проводити ніяких дій для додаткового налаштування — Ваш персонал зможе приступити до роботи максимально швидко. Зазвичай повне впровадження контакт-центру під ключ займає до 1-2 тижнів в залежності від доступності необхідного обладнання.

    section.cases
      .container
        .row
          .col-md-24
            h2.cases__title Кейси
        .row
          .col-md-9.col-md-offset-3
            .cases__block
              .cases__block-title-row
                .cases__block-title-icon.cases__block-title-icon_bank
                .cases__block-title-text Банк
              .cases__block-row.cases__block-row_bottom-border
                .cases__block-row-icon.cases__block-row-icon_people
                p.cases__block-row-text Автоматизовано
                  span.cases__block-row-text_big &#32; 80 &#32;
                  | робочих місць
              .cases__block-row.cases__block-row_bottom-border
                .cases__block-row-icon.cases__block-row-icon_people
                .cases__block-row-text Навантаження операторів зросло до
                  span.cases__block-row-text_big &#32; 80-90%
              .cases__block-row
                .cases__block-row-icon.cases__block-row-icon_people
                .cases__block-row-text Ефективність вихідного обдзвону збільшилась на
                  span.cases__block-row-text_big &#32; 20%

          .col-md-9
            .cases__block
              .cases__block-title-row
                .cases__block-title-icon.cases__block-title-icon_digital
                .cases__block-title-text Провайдер цифрового телебачення
              .cases__block-row.cases__block-row_bottom-border
                .cases__block-row-icon.cases__block-row-24
                p.cases__block-row-text Відкрито
                  span.cases__block-row-text_big &#32; 3 &#32;
                  | площадки колл-центру
              .cases__block-row.cases__block-row_bottom-border
                .cases__block-row-icon.cases__block-row-icon_people
                .cases__block-row-text Автоматизовано
                  span.cases__block-row-text_big &#32; 120 &#32;
                  | робочих місць
              .cases__block-row
                .cases__block-row-icon.cases__block-row-women
                .cases__block-row-text Зменшено простої операторів
                  span.cases__block-row-text_big &#32; вдвічі
        .row
          .col-md-24
            p.cases__more Ми створюємо контакт-центри для найрізноманітніших сфер бізнесу. Легка адаптація саме під<br> Ваші потреби
        .row
          .col-md-24
            p.cases__link-wrapper
              a.cases__link(href="#") Всi кейси

   section.index-block.index-block_background3
      .container
        .row
          .col-md-24
             h2.index-block__title.index-block__title_black.index-block_center-text Для кого ще підійде ?
        .row
          .col-md-20.col-md-offset-2
            .faq-list-item__question.faq-list-item-question.faq-list-item__question_margin-bottom-10
              .faq-list-item-question-icon >
              .faq-list-item-question-text.faq-list-item-question-text_smaller для компаній,  яким потрібен контакт-центр, але нема знань/спеціалістів для його належної організації
            .faq-list-item__question.faq-list-item-question.faq-list-item__question_margin-bottom-10
                .faq-list-item-question-icon >
                .faq-list-item-question-text.faq-list-item-question-text_smaller для тих, хто віддає перевагу отриманню готового рішення, не вдаючись у його технічні та інші деталі


    section.feature-block.feature-block_application.feature-block_background-application
      .container
        .row
          h2.application__title.col-md-24 Зверніться за консультацією
        .row
          p.application__description.col-md-10 Опишіть Ваші потреби, і
            | ми запропонуємо Вам їх ідеальне вирішення!
        .row
          .col-md-10
            a.big-button Залишити заявку

  // ---------[KEY END]---------

