mixin education(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  // ========[EDUCATOIN BEGIN]========
  .content.blog-article
    //-PAGE TITLE
    section.blog__page-title.blog__page-title_education
    section.blog-article__main
      .container
        //path
        .row
          .col-md-12
            .path.path_blog-article
              a.path__element.path__link(href="/") Головна
              p.path__element.path__separator >
              p.path__element.path__curent Навчання та майстер-класи
        .row
          .col-md-24
            h1.blog-article__title Навчання та майстер-класи
        .row
          .col-md-24
            p.blog-article__text Ми з радістю надамо Вам безкоштовний доступ до демоверсії і проведемо ознайомлення ще до покупки. На цій сторінці Ви можете заздалегідь ознайомитись з усіма можливостями VoIPTime Contact Center і задати нам будь-які запитання. Ми обов’язково Вам все покажемо і розповімо!

            p.blog-article__text
              b До старту співпраці:

            p.blog-article__text Ознайомлення співробітників з програмою можливе ще до покупки і є безкоштовним. Доступ до демоверсії організований таким чином, що декілька Ваших співробітників можуть залогінитися в ній одночасно під різними ролями (оператор, менеджер та супервізор) та ретельно переглянути функціонал.

            p.blog-article__text
              b Виникли запитання щодо використання рішення?

            p.blog-article__text
              b Початкове навчання персоналу.<br>
              | Інтерфейс програми є інтуїтивно зрозумілим, але ми обов’язково вчимо новачків як максимально ефективно працювати з програмою. Таке навчання здійснюється безкоштовно на етапі запуску контакт-центру. Ми також надаємо повну інструкцію по роботі з програмою (у форматі PDF). Ви зможете ефективно використовувати всі можливості програмного рішення.

            p.blog-article__text
              b Семінари та майстер-класи (для існуючих клієнтів).<br>
              | Ми проаналізуємо існуючі у Вас проблеми та підкажемо, як їх вирішити за допомогою використання рішення VoIPTime Contact Center. Наші досвідчені менеджери проектів проведуть для Вас семінар або майстер-клас, на якому детально розберуть Ваші помилки та підкажуть шляхи їх вирішення. Приклади можливих тематик:
              ul
                li занадто низьке навантаження операторів;
                li оптимізація швидкості набору номерів;
                li побудова логіки обробки викликів операторами;
                li специфіка роботи супервізорів та менеджера контакт-центру;
                li та багато іншого.
              | Навчання може бути виїзним або здійснюватися за допомогою Skype в будь-який зручний для Вас час. Ваші співробітники зможуть задати запитання та отримати професійні консультації.

            p.blog-article__text
              b Вебінари для потенційних клієнтів. <br>
              | Ми запускаємо серію вебінарів, на яких будуть відображені шляхи використання VoIPTime Contact Center для автоматизації Ваших бізнес-процесів.

            p.blog-article__text Слідкуйте за нашими безкоштовними вебінарами в інтернеті, або замовляйте індивідуальне додаткове навчання — дистанційне або з виїздом у Вашу локацію. Дізнавайтеся, як отримувати максимум від Вашого рішення VoIPTime Contact Center: підвищити ефективність Вашого контакт-центру, оптимізувати навантаження операторів, збільшити економію часу та оптимізувати бізнес-процеси контакт-центру.

            p.blog-article__text Ми знаємо про контакт-центри все і завжди раді поділитися з Вами нашими знаннями!






        .row
          .col-md-24
            .back-button
              a.back-button__link(href="/") Назад
