extends _layouts/base

include _modules/navbar-second/navbar-second
include _modules/footer/footer
include _modules/blog-article/blog-article

block navbar
  #[+navbar-second]

block content
  #[+blog-article]

block footer
  #[+footer]

