extends _layouts/base

include _modules/navbar-second/navbar-second
include _modules/footer/footer
include _modules/education/education

block navbar
  #[+navbar-second]

block content
  #[+education]

block footer
  #[+footer]

