extends _layouts/base

include _modules/navbar-second/navbar-second
include _modules/footer/footer
include _modules/outsourcing-cc/outsourcing-cc

block navbar
  #[+navbar-second]

block content
  #[+outsourcing-cc]

block footer
  #[+footer]
