mixin support(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  // ========[SUPPORT BEGIN]========
  .content.blog-article
    //-PAGE TITLE
    section.blog__page-title.blog__page-title_support
    section.blog-article__main
      .container
        //path
        .row
          .col-md-12
            .path.path_blog-article
              a.path__element.path__link(href="/") Головна
              p.path__element.path__separator >
              p.path__element.path__curent Технічна підтримка
        .row
          .col-md-24
            h1.blog-article__title Технічна підтримка
        .row
          .col-md-24
            p.blog-article__text Який би пакет VoIPTime Contact Center Ви не обрали — використання хмарного контакт-центру, купівлю програмного рішення чи створення контакт-центру на базі VoIPTime Contact Center під ключ — ми не залишимо Вас сам-на-сам з рішенням для контакт-центру. Наші кваліфіковані технічні спеціалісти нададуть Вам повну технічну підтримку в ситуаціях, якщо:
            ul
              li необхідно змінити налаштування системи;
              li створити/видалити користувача;
              li підключити/відключити лінію;
              li не відбуваються вхідні/вихідні дзвінки на певний номер;
              li втрачений доступ до системи;
              li необхідне оновлення системи, тощо.

            p.blog-article__text Ви можете звертатись до нас з будь-якими питаннями щодо роботи рішення VoIPTime Contact Center — наші спеціалісти Вам обов’язково допоможуть.

            p.blog-article__text Всі пакети послуг включають в себе початкове навчання роботі з VoIPTime Contact Center, а також наступні пакети технічної підтримки:

            ol
              li <b>Хмарний контакт-центр VoIPTime SaaS:</b> Обслуговування обладнання як таке Вам не знадобиться — виправлення будь-яких технічних проблем з обладнанням є нашим завданням і входить в вартість послуги. Щомісячна вартість оренди контакт-центру додатково включає в себе 5 годин технічної підтримки щодо питань використання нашого програмного рішення.
              li <b>Придбання програмного рішення VoIPTime Contact Center:</b> Ми беремо на себе всі налаштування, необхідні для початку роботи контакт-центру. А наші спеціалісти завжди готові надавати Вам будь-які додаткові консультації, пов’язані з функціонуванням Вашого контакт-центру, в межах індивідуально укладеного договору на техпідтримку. Ви можете обрати технічну підтримку в необхідному для вас обсязі, в тому числі в режимі 24/7.
              li <b>Контакт-центр під ключ:</b> Ви можете обрати будь-який режим технічної підтримки та укласти договір про технічну підтримку. Якщо договір з Вами не укладався, ми готові надавати техпідтримку з оплатою за кожну людино-годину.

            p.blog-article__text Наша мета — зробити так, аби Ваш контакт-центр працював безперебійно і виконував свої функції досконало. Тому ми завжди відкриті до Ваших запитань і звернень. Ми готові надавати Вам будь-яку підтримку, щоб обране Вами рішення VoIPTime Contact Center задовольняло всі Ваші потреби.

            p.blog-article__text Способи подання запитів:
            p.blog-article__text Запити приймаються через систему HelpDesk, що дозволяє позначати пріоритетність задач та регламентувати час підтримки.

            p.blog-article__text З регламентом роботи служби техпідтримки Ви можете ознайомитись тут (посилання на ПДФ з табличкою).


        .row
          .col-md-24
            .back-button
              a.back-button__link(href="/") Назад
